html {
	height:100%;
}

body {
    min-height:100%;
    background-color: #eee;
}

#main-map {
	z-index: 5;
	height:800px;
}

/**
The following component are present:
  id: navbar: The entire bar at the top
  id: navbar-brand: The block on the left with the icon and the text
  id: user-nav: A ul, with all the navigation options in it
  id: navbarLoginPanel: A Login button, shown when not logged in

  class: nav-item: A link item
**/

#navbar-brand{
  margin-left:20px;
  margin-right:20px;
}

#branding-icon {
  margin-right:1em
}

#navbar {
	background-color:#242F45;
	-webkit-box-shadow: 0px 3px 16px 0px rgba(105,105,105,1);
	-moz-box-shadow: 0px 3px 16px 0px rgba(105,105,105,1);
	box-shadow: 0px 3px 16px 0px rgba(105,105,105,1);
  z-index: 10;
  padding:0;
  margin:0;
  height:80px;
}

#navbar-navigation,
#navbar-brand,
#navbar-brand > .nav-link,
.user-nav,
.nav-item {
  height:inherit;
}

.user-nav > .nav-item > .nav-link,
#navbar-brand > .nav-item > .nav-link,
.nav-item > .nav-link{
  border-bottom: 4px solid #242F45;
  vertical-align: middle;
  margin:0;
  padding:0 40px 0 40px;
  height:inherit;
  display: table-cell;
}

 .user-tab-centering {
 	width: auto;
 }

.nav-item > .nav-link.active{
 	border-bottom: 4px solid #ccc;
 }

.nav-item > .nav-link:hover,
.nav-item > .nav-link:active{
	border-bottom: 4px solid #8C5353;
}


.device-card {
	margin-top: 0.5em;
	margin-bottom:0.5em;
}

.device-card-text {
	float:left;
	width:auto;
}

.device-card-image {
	margin-right:1em;
	float:right;
}

.loading-div {
	height:auto;
	margin-top:20%;
	margin-left: auto;
	margin-right: auto;
	padding: 2em 10em;
}

#loading {
	-webkit-animation: rotation 2s infinite linear;
	margin-left: auto;
	margin-right: auto;
}

@-webkit-keyframes rotation {
	from {
			-webkit-transform: rotate(0deg);
	}
	to {
			-webkit-transform: rotate(359deg);
	}
}

.loading-div > span {
	padding: 0.8em 0;
	text-align: center;
}

.icon {
  width: 2em;
  height: 2em;
}
