/**
The following component are present:
  id: navbar: The entire bar at the top
  id: navbar-brand: The block on the left with the icon and the text
  id: navbar-navigation: A ul, with all the navigation options in it
  id: user-nav-item: A Login button, shown when not logged in

  Inside these compoents are nested:
  class: nav-item: The entire link item
  class: nav-link: The link itself

  Additionally, these classes:
  class: navbar-highlight For specifying an item need the underline highlight
**/
:root {
  --heading-item-padding: 20px 16px 20px 16px;
  --heading-item-height: 4.5em;

  --brand-text-color: #fff;
  --brand-text-shadow: #007bff;
}

#navbar {
  background-color:var(--dark-blue-bg-color);
  padding:0;
  -webkit-box-shadow: 0px 3px 16px 0px rgba(105,105,105,1);
	-moz-box-shadow: 0px 3px 16px 0px rgba(105,105,105,1);
  box-shadow: 0px 3px 16px 0px rgba(105,105,105,1);
  z-index: 10;
  font-weight: 500;
  font-size: 13pt;
  font-family: Helvetica, Arial, sans-serif;
  white-space: nowrap;
  overflow: hidden;
}

/* The highlighting class*/
.navbar-highlight a{
  color: inherit
}

.navbar-highlight {
  border-bottom: var(--header-border-thickness) solid var(--dark-blue-bg-color);
  color: var(--header-link-inactive-color) !important;
}

.navbar-highlight.active{
  border-bottom: var(--header-border-thickness) solid var(--header-link-active-color);
  color: var(--header-link-active-color) !important;
}

.navbar-highlight:hover,
.navbar-highlight:active {
  border-bottom: var(--header-border-thickness) solid var(--header-border-hover-color);
  color: var(--header-link-hover-color) !important;
}

/* Item on the navigation bar*/
#navbar-navigation .nav-link {
  padding: var(--heading-item-padding);
  height: var(--heading-item-height);
  color: var(--header-link-inactive-color);

}

#navbar-navigation > #leftnav {
  width:70%
}

#navbar-navigation > #rightnav {
  width:30%;
  justify-content: flex-end;
}

/* Settings involved with the branding box, on the left*/
#navbar-brand{
  margin-left:20px;
  margin-right:20px;
  padding: auto 0 auto 0;
  border-bottom: var(--header-border-thickness) solid var(--dark-blue-bg-color);
  height: var(--heading-item-height);
  width:200px;
}

#navbar-brand span{
  color: var(--brand-text-color);
}

#navbar-brand .nav-link{
  padding: var(--heading-item-padding);
  height: var(--heading-item-height);
  display: table-cell;
}

#navbar-brand .nav-link span {
  vertical-align: top;
}

/* The navbar UserPanel is shown when the user is logged in */
#navbarUserPanel {
  width:300px;
  vertical-align: middle;
  display: table-cell;
}

#user-icon {
  margin-right:15px;
}


/* Settings for the button, stolen from bootstrap*/

#navbar > .navbar-toggler {
  background-color: #18243d !important;
}

#navbar .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255, 255, 255, 0.5)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
}
