/**
The following component are present:
  id: navbar: The entire bar at the top
  id: navbar-brand: The block on the left with the icon and the text
  id: user-nav: A ul, with all the navigation options in it
  id: navbarLoginPanel: A Login button, shown when not logged in

  class: nav-item: A link item
**/
#navbar-brand{
  margin-left:20px;
  margin-right:20px;
}

#branding-icon {
  margin-right:1em
}

#navbar {
	background-color:var(--dark-blue-bg-color);
	-webkit-box-shadow: 0px 3px 16px 0px rgba(105,105,105,1);
	-moz-box-shadow: 0px 3px 16px 0px rgba(105,105,105,1);
	box-shadow: 0px 3px 16px 0px rgba(105,105,105,1);
  z-index: 10;
  padding:0;
  margin:0;
  height:var(--header-border-height);
}

#navbar-navigation,
#navbar-brand,
#navbar-brand > .nav-link,
.user-nav,
.nav-item {
  height:inherit;
}

.user-nav > .nav-item > .nav-link,
#navbar-brand > .nav-item > .nav-link,
.nav-item > .nav-link{
  border-bottom: var(--header-border-thickness) solid var(--dark-blue-bg-color);
  vertical-align: middle;
  margin:0;
  padding:0 40px 0 40px;
  height:inherit;
  display: table-cell;
}


.nav-item > .nav-link.active{
 	border-bottom: var(--header-border-thickness) solid var(--header-link-active-color);
 }

.nav-item > .nav-link:hover,
.nav-item > .nav-link:active{
	border-bottom: var(--header-border-thickness) solid var(--header-link-hover-color);
}
