:root {
  --dark-blue-bg-color: #242F45;
  --header-link-inactive-color: #C2C2C2;
  --header-link-active-color: #BABCC5;
  --header-link-hover-color: #FFFFFF;
  --header-border-hover-color: #8C5353;
  --header-border-thickness: 4px;
}

html,
body {
  font-family: Trebuchet;
  height:100%;
  width:100%
}

.center-div {
  width:800px;
  margin: 0 auto
}

/* Used for long paragraphs of justified text */
.big-text-field {
  text-align: justify;
  line-height: 1.7em;
}

.big-text-field >p {
  margin-top: 2em;
  margin-bottom: 2em;
}

.big-text-field > div > img {
  margin: 20px;
}


/* Used on a page with lots of text*/
.header-row {
  padding-top:4em;
}
